RewriteEngine On
RewriteBase /

# Redirect any URL with .php to the same URL without .php
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[\s?] [NC]
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

# Internally rewrite URLs without .php to the corresponding .php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.php [L]
